header {
    background-color: black;
    color: yellow;
    text-align: center;
}

img {
    display: block;
    margin: auto;
    border-radius: 10px;
}

h3 {
    text-align: center;
    color: maroon;
}

body {
    background-color: gray;
}

* {
    font-family: papyrus;
}