header {
    background-color: black;
    color: yellow;
    text-align: center;
}

img {
    display: block;
    margin: auto;
    border-radius: 10px;
}

h3 {
    text-align: center;
    color: maroon;
}

body {
    background-color: gray;
}

* {
    font-family: papyrus;
}

.subheader {
    font-size: 25px;
}

#movies {
    width: 50%;
    background-color: lightblue;
    border: 1px solid black;
    padding: 10px;
}